#### Instalando as Dependencias

In [1]:
pip install -U scikit-learn

Collecting scikit-learn
  Using cached scikit_learn-1.1.3-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (31.2 MB)
Requirement already satisfied, skipping upgrade: threadpoolctl>=2.0.0 in /home/vitoria/.local/lib/python3.8/site-packages (from scikit-learn) (3.1.0)
Requirement already satisfied, skipping upgrade: numpy>=1.17.3 in /home/vitoria/.local/lib/python3.8/site-packages (from scikit-learn) (1.23.3)
Requirement already satisfied, skipping upgrade: scipy>=1.3.2 in /home/vitoria/.local/lib/python3.8/site-packages (from scikit-learn) (1.9.3)
Requirement already satisfied, skipping upgrade: joblib>=1.0.0 in /home/vitoria/.local/lib/python3.8/site-packages (from scikit-learn) (1.2.0)
Installing collected packages: scikit-learn
  Attempting uninstall: scikit-learn
    Found existing installation: scikit-learn 0.24.1
    Uninstalling scikit-learn-0.24.1:
      Successfully uninstalled scikit-learn-0.24.1
Successfully installed scikit-learn-1.1.3
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install pydotplus

Requirement already satisfied: pydotplus in /home/vitoria/.local/lib/python3.8/site-packages (2.0.2)
Requirement already satisfied: pyparsing>=2.0.1 in /home/vitoria/.local/lib/python3.8/site-packages (from pydotplus) (3.0.9)
Note: you may need to restart the kernel to use updated packages.

In [3]:

import pandas as pd
import matplotlib.pyplot as plt
import pydotplus
from IPython.display import Image
from sklearn import tree
import numpy as np

#### Análise dos dados

In [127]:
caminhoBase = "data/database/data.csv"
df = pd.read_csv(caminhoBase)
df

,Unnamed: 0,nivelbairro,serie,genero,resultado,IN_AGUA_FILTRADA,IN_ENERGIA_REDE_PUBLICA,IN_LABORATORIO_INFORMATICA,IN_QUADRA_ESPORTES_COBERTA,IN_COZINHA,IN_REFEITORIO,IN_DESPENSA,IN_INTERNET
0,0,1,1,2,0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0
1,1,1,1,2,0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0
2,2,1,1,1,0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0
3,3,1,1,1,0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0
4,4,1,1,1,0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
90741,90741,4,1,2,0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
90742,90742,4,1,2,0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
90743,90743,4,1,2,0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
90744,90744,4,1,2,0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
90745,90745,4,1,1,0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0

In [128]:
tipos = df.dtypes
atributos = df.columns

Inserindo cada atributo da tabela resultante em um vetor para melhor manipulação dos dados

In [129]:
vetor_nivelbairro = np.array(df.nivelbairro)
vetor_serie = np.array(df.serie)
vetor_genero = np.array(df.genero)
vetor_resultado = np.array(df.resultado)
vetor_IN_AGUA_FILTRADA = np.array(df.IN_AGUA_FILTRADA)
vetor_IN_ENERGIA_REDE_PUBLICA = np.array(df.IN_ENERGIA_REDE_PUBLICA)
vetor_IN_AGUA_FILTRADA = np.array(df.IN_AGUA_FILTRADA)
vetor_IN_LABORATORIO_INFORMATICA = np.array(df.IN_LABORATORIO_INFORMATICA)
vetor_IN_QUADRA_ESPORTES_COBERTA = np.array(df.IN_QUADRA_ESPORTES_COBERTA)
vetor_IN_COZINHA = np.array(df.IN_COZINHA)
vetor_IN_REFEITORIO = np.array(df.IN_REFEITORIO)
vetor_IN_INTERNET = np.array(df.IN_INTERNET)

Definindo um novo dataframe vazio

In [130]:
df = pd.DataFrame()
df

Empty DataFrame
Columns: []
Index: []

Definindo as colunas do novo dataframe e atribuindo para cada coluna, seu respectivo vetor de dados registrado anteriormente.

In [132]:
COLUNAS = [
'nivelbairro',
'serie',
'genero',
'resultado',
'IN_AGUA_FILTRADA',
'IN_ENERGIA_REDE_PUBLICA',
'IN_LABORATORIO_INFORMATICA',
'IN_QUADRA_ESPORTES_COBERTA',
'IN_COZINHA',
'IN_REFEITORIO',
'IN_INTERNET',
]

df = pd.DataFrame(columns = COLUNAS)

df.nivelbairro = vetor_nivelbairro 
df.serie = vetor_serie
df.genero = vetor_genero 
df.resultado = vetor_resultado
df.IN_AGUA_FILTRADA = vetor_IN_AGUA_FILTRADA 
df.IN_ENERGIA_REDE_PUBLICA = vetor_IN_ENERGIA_REDE_PUBLICA 
df.IN_LABORATORIO_INFORMATICA = vetor_IN_LABORATORIO_INFORMATICA 
df.IN_QUADRA_ESPORTES_COBERTA = vetor_IN_QUADRA_ESPORTES_COBERTA 
df.IN_COZINHA = vetor_IN_COZINHA 
df.IN_REFEITORIO = vetor_IN_REFEITORIO
df.IN_INTERNET = vetor_IN_INTERNET

In [133]:
df

,nivelbairro,serie,genero,resultado,IN_AGUA_FILTRADA,IN_ENERGIA_REDE_PUBLICA,IN_LABORATORIO_INFORMATICA,IN_QUADRA_ESPORTES_COBERTA,IN_COZINHA,IN_REFEITORIO,IN_INTERNET
0,1,1,2,0,1.0,1.0,0.0,0.0,1.0,0.0,1.0
1,1,1,2,0,1.0,1.0,0.0,0.0,1.0,0.0,1.0
2,1,1,1,0,1.0,1.0,0.0,0.0,1.0,0.0,1.0
3,1,1,1,0,1.0,1.0,0.0,0.0,1.0,0.0,1.0
4,1,1,1,0,1.0,1.0,0.0,0.0,1.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...
90741,4,1,2,0,1.0,1.0,0.0,0.0,1.0,0.0,0.0
90742,4,1,2,0,1.0,1.0,0.0,0.0,1.0,0.0,0.0
90743,4,1,2,0,1.0,1.0,0.0,0.0,1.0,0.0,0.0
90744,4,1,2,0,1.0,1.0,0.0,0.0,1.0,0.0,0.0
90745,4,1,1,0,1.0,1.0,0.0,0.0,1.0,0.0,0.0

Impressão da coluna da situacao dos alunos

In [134]:
df.resultado

0        0
1        0
2        0
3        0
4        0
        ..
90741    0
90742    0
90743    0
90744    0
90745    0
Name: resultado, Length: 90746, dtype: int64

Informações do dataframe

Atributos, elementos não nulos, Tipo das variáveis da coluna

In [135]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90746 entries, 0 to 90745
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   nivelbairro                 90746 non-null  int64
 1   serie                       90746 non-null  int64
 2   genero                      90746 non-null  int64
 3   resultado                   90746 non-null  int64
 4   IN_AGUA_FILTRADA            90746 non-null  float64
 5   IN_ENERGIA_REDE_PUBLICA     90746 non-null  float64
 6   IN_LABORATORIO_INFORMATICA  90746 non-null  float64
 7   IN_QUADRA_ESPORTES_COBERTA  90746 non-null  float64
 8   IN_COZINHA                  90746 non-null  float64
 9   IN_REFEITORIO               90746 non-null  float64
 10  IN_INTERNET                 90746 non-null  float64
dtypes: float64(7), int64(4)
memory usage: 7.6 MB

Agrupando os elementos do dataframe por resultado

In [136]:
df.groupby(by='resultado').size()

resultado
0    88799
1     1947
dtype: int64

Importando os métodos de árvore de decisão

In [137]:

from sklearn.tree import DecisionTreeClassifier, export_graphviz
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [138]:
result_df = df

Criação de um dataframe reserva para possíveis conclusões

In [139]:
reserva = result_df
reserva

,nivelbairro,serie,genero,resultado,IN_AGUA_FILTRADA,IN_ENERGIA_REDE_PUBLICA,IN_LABORATORIO_INFORMATICA,IN_QUADRA_ESPORTES_COBERTA,IN_COZINHA,IN_REFEITORIO,IN_INTERNET
0,1,1,2,0,1.0,1.0,0.0,0.0,1.0,0.0,1.0
1,1,1,2,0,1.0,1.0,0.0,0.0,1.0,0.0,1.0
2,1,1,1,0,1.0,1.0,0.0,0.0,1.0,0.0,1.0
3,1,1,1,0,1.0,1.0,0.0,0.0,1.0,0.0,1.0
4,1,1,1,0,1.0,1.0,0.0,0.0,1.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...
90741,4,1,2,0,1.0,1.0,0.0,0.0,1.0,0.0,0.0
90742,4,1,2,0,1.0,1.0,0.0,0.0,1.0,0.0,0.0
90743,4,1,2,0,1.0,1.0,0.0,0.0,1.0,0.0,0.0
90744,4,1,2,0,1.0,1.0,0.0,0.0,1.0,0.0,0.0
90745,4,1,1,0,1.0,1.0,0.0,0.0,1.0,0.0,0.0

Processo de separação de treine/teste

Proporções estabelecidas:

70% treino

30% teste

In [140]:

X_train, X_test, y_train, y_test = train_test_split(result_df.drop('resultado', axis=1), result_df['resultado'], test_size=0.3)

Número de amostras para cada processo

In [141]:
X_train.shape, X_test.shape

((63522, 10), (27224, 10))


Número de targets para cada processo

In [142]:
y_train.shape, y_test.shape

((63522,), (27224,))


Criação do classifcador

In [143]:
cls = DecisionTreeClassifier()

Treinamento

In [144]:
df

,nivelbairro,serie,genero,resultado,IN_AGUA_FILTRADA,IN_ENERGIA_REDE_PUBLICA,IN_LABORATORIO_INFORMATICA,IN_QUADRA_ESPORTES_COBERTA,IN_COZINHA,IN_REFEITORIO,IN_INTERNET
0,1,1,2,0,1.0,1.0,0.0,0.0,1.0,0.0,1.0
1,1,1,2,0,1.0,1.0,0.0,0.0,1.0,0.0,1.0
2,1,1,1,0,1.0,1.0,0.0,0.0,1.0,0.0,1.0
3,1,1,1,0,1.0,1.0,0.0,0.0,1.0,0.0,1.0
4,1,1,1,0,1.0,1.0,0.0,0.0,1.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...
90741,4,1,2,0,1.0,1.0,0.0,0.0,1.0,0.0,0.0
90742,4,1,2,0,1.0,1.0,0.0,0.0,1.0,0.0,0.0
90743,4,1,2,0,1.0,1.0,0.0,0.0,1.0,0.0,0.0
90744,4,1,2,0,1.0,1.0,0.0,0.0,1.0,0.0,0.0
90745,4,1,1,0,1.0,1.0,0.0,0.0,1.0,0.0,0.0

In [145]:
cls = cls.fit(X_train, y_train)

Vetor com as importancias de cada atributo para a determinação do review_score

In [146]:
cls.feature_importances_

array([0.09944631, 0.50109134, 0.0411447 , 0.01065095, 0.        ,
       0.06654085, 0.09309838, 0.07739256, 0.04388668, 0.06674824])

Para tornar o modelo mais visual, criamos um laço para a impressão dos pesos de cada atributo para determinar o resultado

In [147]:
for feature, importancia in zip(result_df.columns, cls.feature_importances_):
    print("{}:{:.1f}%".format(feature,((importancia*100))))

nivelbairro:9.9%
serie:50.1%
genero:4.1%
resultado:1.1%
IN_AGUA_FILTRADA:0.0%
IN_ENERGIA_REDE_PUBLICA:6.7%
IN_LABORATORIO_INFORMATICA:9.3%
IN_QUADRA_ESPORTES_COBERTA:7.7%
IN_COZINHA:4.4%
IN_REFEITORIO:6.7%

Vetor com predições para checagem do aprendizado

In [148]:
result = cls.predict(X_test)
result

array([0, 0, 0, ..., 0, 0, 0])

Representação das métricas de precisão e médias do modelo

In [149]:
from sklearn import metrics
print(metrics.classification_report(y_test,result))

              precision    recall  f1-score   support

           0       0.98      1.00      0.99     26639
           1       0.00      0.00      0.00       585

    accuracy                           0.98     27224
   macro avg       0.49      0.50      0.49     27224
weighted avg       0.96      0.98      0.97     27224

/home/vitoria/.local/lib/python3.8/site-packages/sklearn/metrics/_classification.py:1334: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/home/vitoria/.local/lib/python3.8/site-packages/sklearn/metrics/_classification.py:1334: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/home/vitoria/.local/lib/python3.8/site-packages/sklearn/metrics/_classification.py:1334: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

Precisão total

In [150]:
from sklearn.model_selection import cross_val_score
allScores = cross_val_score(cls, X_train, y_train , cv=10)
allScores.mean()

0.9784011926771738

Treinamento utilizando o dataframe reserva. (apenas com os alunos que evadiram)

Split do dataframe em treino e teste (70%, 30%, respectivamente)

In [151]:
X_train, X_test, y_train, y_test = train_test_split(reserva.drop('resultado', axis=1), reserva['resultado'], test_size=0.3)

Quantidade de amostras do treino

In [152]:
X_train.shape, X_test.shape

((63522, 10), (27224, 10))

Classificador

In [153]:
clf = DecisionTreeClassifier()

Treino

In [154]:
clf = clf.fit(X_train, y_train)

Importancia de cada atributo para determinar o nível de satisfação dos consumidores

In [155]:
clf.feature_importances_

array([0.09185959, 0.48700327, 0.04977169, 0.03189016, 0.00219493,
       0.08648906, 0.09280813, 0.05644169, 0.04031305, 0.06122844])

In [156]:
for feature, importancia in zip(reserva.columns, clf.feature_importances_):
    print("{}:{:.1f}%".format(feature,((importancia*100))))

nivelbairro:9.2%
serie:48.7%
genero:5.0%
resultado:3.2%
IN_AGUA_FILTRADA:0.2%
IN_ENERGIA_REDE_PUBLICA:8.6%
IN_LABORATORIO_INFORMATICA:9.3%
IN_QUADRA_ESPORTES_COBERTA:5.6%
IN_COZINHA:4.0%
IN_REFEITORIO:6.1%